<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title prx-practice
  body
    div#container()
      header.bird-box
        .back-bird
        .logo
        .fore-bird
        

      section.content
        
        article
        
          h1 Clothing Store

          hr

          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, dolorem veniam temporibus officia dignissimos error nobis sed cupiditate saepe eius id harum? Dicta beatae accusamus possimus ipsam quasi, voluptas nobis!

          hr

          .clothes-pics
            .row.img-row
              figure.columns.four
                img(src="./images/model1.jpg", alt="model-one")
                figcaption Blackbird Sweater - 
                  strong $135

              figure.columns.four
                img(src="./images/model2.jpg", alt="model-two")
                figcaption Blackbird Trousers - 
                  strong $135

              figure.columns.four
                img(src="./images/model3.jpg", alt="model-three")
                figcaption Blackbird Jacket - 
                  strong $135
            .row.img-row
              figure.columns.four
                img(src="./images/model1.jpg", alt="model-one")
                figcaption Blackbird Sweater - 
                  strong $135

              figure.columns.four
                img(src="./images/model2.jpg", alt="model-two")
                figcaption Blackbird Trousers - 
                  strong $135

              figure.columns.four
                img(src="./images/model3.jpg", alt="model-three")
                figcaption Blackbird Jacket - 
                  strong $135
            
            .row.img-row
              figure.columns.four
                img(src="./images/model1.jpg", alt="model-one")
                figcaption Blackbird Sweater - 
                  strong $135

              figure.columns.four
                img(src="./images/model2.jpg", alt="model-two")
                figcaption Blackbird Trousers - 
                  strong $135

              figure.columns.four
                img(src="./images/model3.jpg", alt="model-three")
                figcaption Blackbird Jacket - 
                  strong $135
          
          h1 Clothing Store

          hr

          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, dolorem veniam temporibus officia dignissimos error nobis sed cupiditate saepe eius id harum? Dicta beatae accusamus possimus ipsam quasi, voluptas nobis!

          hr

          .large-window
            .window-tint
              .promo-text Fall Suits
                strong <span>from</span> $99
                a(href="").window-cta Shop Now


        div(style="height: 2000px;")

    //- Load main .js
    script(src="./app.js")